.App{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.dark{
  background-color: darkgrey;
  color: white;
}

.light{
  background-color: white;
  color: darkgray;
}

.btn-dark{
  background-color: rgb(54, 54, 54);
  color: white;
  width: 70px;
  height: 40px;
  margin-right: 6px;
}

.btn-light{
  background-color: white;
  color: rgb(54, 54, 54);
  width: 70px;
  height: 40px;
}